body {
  margin: 10;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;
}
.flag {
  width: 15%;
  height: 15%;
}
.icon {
  width: 10%;
  height: 10%;
}
h1 {
  color: rebeccapurple;
}
